<html>
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1>{{title}}</h1>
<a href="/customer/list-all">Customer List</a><br>
<a href="/customer/top-ten">Best Customers</a><br>
<a href="/customer/bottom-ten">Worst Customers</a><br>

<a href="/employee/list-all">Employee List</a><br>
<a href="/employee/all-sellers">Sellers List</a><br>
<a href="/employee/all-vps">VPs List</a><br>
<a href="/employee/all-managers">Managers List</a><br>


<a href="/product/list-all">Product List</a><br>
<a href="/product/top-ten">Best Products</a><br>
<a href="/product/bottom-ten">Worst Products</a><br>


{{>footer}}
</body>
</html>